{% extends 'layout' %}

{% block title %}Offline | Horarium{% endblock %}

{% block head %}
<style>
p {
	font-size: 1.3rem;
	padding: 0 10vw;
}
</style>
{% endblock %}

{% block body %}
<p>
	You seem to be offline! Connect to the internet and try again.
</p>
{% endblock %}
